.top{
  background-image: url(https://wallpaperaccess.com/full/2044690.jpg);
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100vh;
}
body{
  margin: 0;
  padding: 0;
}
header{
  padding: 15px 60px;
}
.menu{
  width: 42%;
  float: right;
  list-style: none;
}
.menu li{
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-style: 13px;
  float: left
}
.menu li:hover{
  background: indianred;
}
.menu li:hover a{
  color: #000;
} 
.menu li a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
}
.logo{
  text-decoration: none;
  color: red;
  font-size: 30px;
  padding: 20px 0;
  width: 20%;
  float: left;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}
.text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: orange;
  text-align: center;
}
.text h2{
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  font-size: 55px;
  color: gold;
}
.text a{
  text-decoration: none;
  border: 1px solid yellow;
  font-size: 17px;
  padding: 10px 35px;
  color: white;
  display: inline-block;
  margin-top: 5%;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}
.text a:hover{
  border-color: indianred;
  background-color: indianred;
  transition: .8s;
  color: #262626;
}